#root {
  margin: 0 auto;
  /* text-align: center; */
}

a:visited {
  color: whitesmoke; /* Set the color for visited state */
}

.login {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 500px;
  align-items: center;
  background-color: #113f67;
  border-radius: 0.5rem;
}
.login h1{
  text-align: center;
}
.login input{
  font-size: 60px;
  width: 300px;
  height: 30px;
  color: #a2a8d3;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin: 20px;
  font-size: 1em;
  font-weight: 500;
  background-color: #1a1a1a;
}
.login button{
  width: 300px;
  height: 60px;
  text-align: center;
  margin: 20px;
}
.login button:hover{
  border-color: #646cff;;
  outline: 4px auto -webkit-focus-ring-color;
}

.register {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 500px;
  align-items: center;
  justify-content: center;
  background-color: #113f67;
  border-radius: 0.5rem;
}
.register h2{
  text-align: center;
  margin: 0px;
}
.register input{
  font-size: 60px;
  width: 300px;
  height: 30px;
  color: #a2a8d3;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin: 20px;
  font-size: 1em;
  font-weight: 500;
  background-color: #1a1a1a;
}
.register button{
  width: 300px;
  height: 60px;
  text-align: center;
  margin: 20px;
  /* margin-bottom: 0; */
}
.register button:hover{
  border-color: #646cff;;
  outline: 4px auto -webkit-focus-ring-color;
}

.app{
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 500px;
  align-items: center;
  /* justify-content: center; */
  background-color: #113f67;
  border-radius: 0.5rem;
  overflow-y: scroll;
  scrollbar-color: #113f67;
}
.app::-webkit-scrollbar {
  width: 12px; /* Set the width of the scrollbar */
}

.app::-webkit-scrollbar-thumb {
  background-color: rgba(162, 168, 211, 0.5); /* Set the color of the scrollbar thumb */
  border-radius: 6px; /* Set the border-radius of the scrollbar thumb */
}

.app::-webkit-scrollbar-track {
  background-color: transparent; /* Set the color of the scrollbar track */
}
.heading{
  font-size: 30px;
  font-family: sans-serif;
  text-align: center;
  margin: 0px;
  padding: 20px;
}
.inputForm{
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 15px;
  padding-top: 0px;
}
.inputForm input{
  font-size: 22px;
  color: #a2a8d3;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #1a1a1a;
  margin-right: 10px;
}
.task {
  display: flex;
  justify-content: space-between;
  align-self: center;
  height: 40px;
  width: 330px;
  max-width: 350px;
  margin: 15px;
  margin-top: 7px;
  margin-bottom: 7px;
  padding: 5px;
  background-color: #a2a8d3;
  color: black;
  border-radius: 5px;
}
.tasksSection{
  height: fit-content;
  align-items: start;
}
.task p{
  text-align: center;
  text-justify: center;
}

.edit{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 40px;
  width: 330px;
  max-width: 350px;
  margin: 15px;
  margin-top: 7px;
  margin-bottom: 7px;
  padding: 5px;
  padding-top: 0px;
}
.edit input{
  font-size: 22px;
  color: #a2a8d3;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #1a1a1a;
}

.editAndDelete{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.editAndDelete svg{
  cursor: pointer;
  padding: 5px;
}
.editAndDelete svg:hover
svg:focus{
  border-color: #646cff;;
  outline: 4px auto -webkit-focus-ring-color;
}


